.header {
    height: 80px;
    background-color: rgba(92, 92, 250, 0.35);
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
@media screen and ( max-width:420px) {
    .header{
        justify-content: center;
    }
}