@import './variables';

@mixin arrow($left,$transform) {
  left: $left;
  transform: $transform;
}
@mixin tittle($position,$visibility,$fontWeight,$fontSize,$margin,$lineHeight,$cursor) {
  position: $position;
  visibility: $visibility;
  font-weight: $fontWeight;
  font-size: $fontSize;
  margin: $margin;
  line-height: $lineHeight;
  cursor: $cursor;
}

@mixin description($color,$lineHeight,$margin) {
  color: $color;
  line-height: $lineHeight;
  margin: $margin;
}

@mixin bg_screen($backgroundSize,$backgroundRepeat,$backgroundAttachment,$backgroundPosition,$position){
  background-size: $backgroundSize;
  background-repeat: $backgroundRepeat;
  background-attachment: $backgroundAttachment;
  background-position: $backgroundPosition;
  position: $position;
}