.distant_work_block{
    height: 40vh;
    background-color: mediumpurple;
    display: flex;
    align-items: center;
}
.distant_work{
    flex-direction: column;
    justify-content:space-between;
    width: 80%;
    height: 30%;
    border: 1px solid red;

}
.title{

}