.skills_block{
    background-color: greenyellow;
}
.skills_container {
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: rgba(54, 128, 239, 0.44);
}
.skills{
    margin: 10px 0;
    border: 1px solid deeppink;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 420px) {
    .skills{
        justify-content: center;
    }
}