@import '../common/styles/variables';
@import '../common/styles/mixins';

.skills_block{
    position: relative;
    padding: 6.5rem 0;
    overflow: hidden;
    min-height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .skills_container {
        align-items:center;
        flex-direction: column;
        justify-content: flex-start;
        .title{
            @include tittle(relative,visible,$title-weight,$title-font-size,1rem !important,1.4em,pointer);
            color: $textColorDark;
            &::after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $primary-color;
                content: "";
                transition: width 0.3s ease-out;
            }
            &:hover:after,&:focus:after {
                width: 100%;
            }
        }
            .skills{
                position: relative;
                margin: 10px 0;
                padding: 20px;
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                box-shadow: 2px 2px 10px black;
                    .close {
                        position: absolute;
                        right: 32px;
                        top: 32px;
                        width: 32px;
                        height: 32px;
                        opacity: 0.3;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                        &:before, &:after {
                            position: absolute;
                            left: 15px;
                            content: ' ';
                            height: 33px;
                            width: 2px;
                            background-color: #333;
                        }
                        &:before {
                            transform: rotate(45deg);
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                
                .display_none_for_desc{
                    display: none;
                }
                .description_container {
                    text-align: center;
                    margin: 0 auto;
                    .title{
                        color: $primary-color;
                        text-shadow: -2px 1.5px 1px $backgroundColor;
                    }
                    .description {
                        text-align: left;
                        line-height: 1.2rem;
                    }
                }
            }
            .img_container {
                position: relative;
                width: 100px;
                height: 100px;
                img{
                    position: absolute;
                    left: 25%;
                    top: 25%;
                    width: 50px;
                    opacity: 0.8;
                    -webkit-transition: all  0.5s;
                    -moz-transition: all  0.5s;
                    -ms-transition: all  0.5s;
                    -o-transition: all  0.5s;
                    transition: all  0.5s;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                        transform: scale(1.1);
                        -webkit-transition: all  0.5s;
                        -moz-transition: all  0.5s;
                        -ms-transition: all  0.5s;
                        -o-transition: all  0.5s;
                        transition: all  0.5s;
                    }
                    &:active{
                        opacity: 1;
                        transform: scale(0.9);
                        -webkit-transition: all  0.5s;
                        -moz-transition: all  0.5s;
                        -ms-transition: all  0.5s;
                        -o-transition: all  0.5s;
                        transition: all  0.5s;
                    }
                }
        }
        

        @media screen and (max-width: 625px) {
            .skills{
                justify-content: center;
            }
        }
    }
}



