@import '../common/styles/variables';

.main {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -9.5px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: rgba(96, 92, 92, 0.42);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .text {
        width: 80vw;
        color: $textColor;
        font-size:25px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
    }
    h1{
        font-size: 80px;
    }

}





