.navigation_flex{
    width: 400px;
    display: flex;
    justify-content:space-between;
    font-size: 20px;
}
@media screen and ( max-width: 760px) {
    .navigation_flex_burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0 0 0;
        height: 70%;
        width: 100%;
        font-size: 30px;
        text-transform: uppercase;
    }

    .navigation_flex_burger a {
        color: #fff;
    }
}