.projects_block{
    height: 100vh;
    background-color: #d22fff;
}

.projectContainer{
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ffde00;
}

.projects {
    margin: 10px 0;
    border: 1px solid deeppink;
    width: 80%;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
@media screen and (max-width: 400px) {
    .projectContainer{
        flex-direction: row;
    }
}